*.user

/sln/.vs

/sln/ServiceSample/bin/debug
/sln/ServiceSample/bin/release
/sln/ServiceSample/obj

/sln/ServiceSelfInstaller/bin/debug
/sln/ServiceSelfInstaller/bin/release
/sln/ServiceSelfInstaller/obj

/sln/ServiceTests/bin/debug
/sln/ServiceTests/bin/release
/sln/ServiceTests/obj
